$icomoon-font-path: "./fonts" !default;

$la-drew-jen: "\e900";
$la-heart-circle: "\e901";
$la-home: "\e600";
$la-heart: "\e68c";
$la-mailbox-full: "\e693";
$la-at-sign: "\e695";
$la-envelope: "\e696";
$la-envelope-open: "\e697";
$la-reply: "\e69a";
$la-camera: "\e6ff";
$la-record: "\e703";
$la-camera2: "\e704";
$la-contacts: "\e71a";
$la-user-plus: "\e71f";
$la-user-minus: "\e720";
$la-users-plus: "\e724";
$la-users-minus: "\e725";
$la-baby: "\e729";
$la-baby2: "\e72a";
$la-man-woman: "\e733";
$la-telephone2: "\e777";
$la-map-marker: "\e77a";
$la-map2: "\e782";
$la-calendar-31: "\e788";
$la-calendar-full: "\e789";
$la-calendar-user: "\e78c";
$la-smartphone: "\e7a6";
$la-desktop: "\e7af";
$la-power: "\e7b9";
$la-lamp: "\e7bc";
$la-bubble: "\e7d6";
$la-bubble-heart: "\e7e1";
$la-quote-open: "\e7e5";
$la-quote-close: "\e7e6";
$la-gift: "\e7ff";
$la-diamond3: "\e808";
$la-teacup: "\e80b";
$la-dinner: "\e811";
$la-dinner2: "\e812";
$la-traffic-lights: "\e840";
$la-puzzle: "\e876";
$la-smile: "\e88a";
$la-mad: "\e896";
$la-alarm: "\e8aa";
$la-undo2: "\e8d8";
$la-redo2: "\e8d9";
$la-alarm2: "\e8ea";
$la-download2: "\e8f5";
$la-enter-down: "\e8f8";
$la-thumbs-up: "\e919";
$la-thumbs-down: "\e91a";
$la-menu: "\e92b";
$la-menu2: "\e92f";
$la-check: "\e934";
$la-cross2: "\e935";
$la-warning: "\e955";
$la-notification-circle: "\e956";
$la-checkmark-circle: "\e959";
$la-cross-circle: "\e95a";
$la-plus-circle: "\e95b";
$la-circle-minus: "\e95c";
$la-check-square: "\e999";
$la-cross-square: "\e99a";
$la-prohibited: "\e99c";
$la-circle: "\e99d";
$la-reminder: "\e9c6";

